<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Salas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="items.length > 0; else empty">
    <ion-item *ngFor="let item of items">
      <ng-container *ngIf="item | async as i">
        <ion-label>
          <h1>{{i.name}}</h1>
          <p>{{i.description}}</p>
          <ion-button color="secondary" (click)="confirmAbandonRoom(i)">Abandonar</ion-button>
          <ion-button color="primary" (click)="enterRoom()">Entrar</ion-button>
        </ion-label>
      </ng-container>

    </ion-item>
  </ion-list>

  <ng-template #empty>
    <div style="display: flex; height: 100%; align-items: center;">
      <div class="viewCenter">
        <div class="iconEmpty">
          <ion-icon class="iconSize" name="cloud-offline-outline"></ion-icon>
        </div>

        <div class="title-style">
          No se ha unido a ninguna sala.
          <br>
          Crea o únete a una.
        </div>
      </div>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="createRoomDialog()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="joinRoomDialog()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>