<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{boardManager.player1}}</ion-title>
    <ion-title class="ion-text-center">vs</ion-title>
    <ion-title slot="end">{{boardManager.player2}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="board" *ngIf="boardManager">
    <ion-row *ngFor="let row of boardManager.board">
      <ion-col class="ion-no-padding" *ngFor="let space of row">
        <div (click)="spaceClick(space)" class="space">
          <img [src]="space.style">
          <ng-container *ngIf="space.piece">
            <img class="piece" [src]="space.piece.pieceImg">
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-title class="ion-text-center"> Turno de {{boardManager.currentPlayer}}</ion-title>
</ion-content>
