<ion-header>
  <ion-toolbar>
    <ion-title>{{nameRoom}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-label class="header-label">Copiar código</ion-label>
      <br>
      <ion-button color="secondary">
        <ion-icon name="clipboard"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-label class="header-label">Usuarios: {{Users}}</ion-label>
      <br>
      <ion-button color="secondary">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="items.length > 0; else empty">
    <ion-list-header>
      Partidas en curso
    </ion-list-header>
    <ion-item *ngFor="let item of items">
      <ion-label>
        <ion-label>{{item.player1}} VS {{item.player2}}</ion-label>
      </ion-label>
      <ng-container *ngIf="item.isPlaying; else noPlaying">
        <ion-button slot="end" color="secondary" (click)="showMatch(item)">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
      </ng-container>
      <ng-template #noPlaying>
        <ion-button slot="end" color="secondary" (click)="joinDialog(item)">
          <ion-icon name="enter"></ion-icon>
        </ion-button>
      </ng-template>

    </ion-item>
  </ion-list>

  <ng-template #empty>
    <div style="display: flex; height: 100%; align-items: center;">
      <div class="viewCenter">
        <div class="iconEmpty">
          <ion-icon class="iconSize" name="cloud-offline-outline"></ion-icon>
        </div>

        <div class="title-style">
          No hay partidas en curso
          <br>
          Crea una.
        </div>
      </div>
    </div>
  </ng-template>
</ion-content>

<ion-button expand="block" color="secondary" (click)="createMatchModal()">Crear Partida</ion-button>